In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os 

import sys; sys.path.append('/home/mitch/util/python')
sys.path.append('/home/mitch/github/mfl/')
import src.json_utils

In [72]:
raw = '/home/mitch/Dropbox/data/mexico_fls/raw/2005/'
interim = '/home/mitch/Dropbox/data/mexico_fls/interim2/2005/'
processed = '/home/mitch/Dropbox/data/mexico_fls/processed2/'

figs = '/home/mitch/github/mfl/fig/'
dicts= '/home/mitch/github/mfl/notebooks/dicts/'

In [73]:
os.chdir(interim)

hh = pd.read_csv('hh_2005.csv')
ind = pd.read_csv('ind_2005.csv')

In [74]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8134 entries, 0 to 8133
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   hhid                               8134 non-null   int64
 1   weight_hh                          8022 non-null   float64
 2   own_house                          8134 non-null   float64
 3   own_otherhouse                     8134 non-null   float64
 4   own_bicycles                       8134 non-null   float64
 5   own_vehicle                        8134 non-null   float64
 6   own_electronics                    8134 non-null   float64
 7   own_washmachinestove               8134 non-null   float64
 8   own_domesticappliance              8134 non-null   float64
 9   own_financialassets                8134 non-null   float64
 10  own_machinary                      8134 non-null   float64
 11  own_bullcow                        8134 non-null   float64
 12  own_horsesmules                    8134 non-null   float64
 13  own_pigsgoats                      8134 non-null   float64
 14  own_poultry                        8134 non-null   float64
 15  own_otherassets                    8134 non-null   float64
 16  value_house                        8134 non-null   float64
 17  value_otherhouse                   8134 non-null   float64
 18  value_bicycles                     8134 non-null   float64
 19  value_vehicle                      8134 non-null   float64
 20  value_electronics                  8134 non-null   float64
 21  value_washmachinestove             8134 non-null   float64
 22  value_domesticappliance            8134 non-null   float64
 23  value_financialassets              8134 non-null   float64
 24  value_machinary                    8134 non-null   float64
 25  value_bullcow                      8134 non-null   float64
 26  value_horsesmules                  8134 non-null   float64
 27  value_pigsgoats                    8134 non-null   float64
 28  value_poultry                      8134 non-null   float64
 29  value_otherassets                  8134 non-null   float64
 30  hh_no_savings                      8134 non-null   float64
 31  hh_has_savings_bank                8134 non-null   float64
 32  hh_has_savings_cooperative         8134 non-null   float64
 33  hh_has_savings_credit_institution  8134 non-null   float64
 34  hh_has_savings_batch               8134 non-null   float64
 35  hh_has_savings_person_not_hhm      8134 non-null   float64
 36  hh_has_savings_afores              8134 non-null   float64
 37  hh_has_savings_solidarity          8134 non-null   float64
 38  hh_has_savings_at_house            8134 non-null   float64
 39  hh_has_savings_other               8134 non-null   float64
 40  hh_has_debts_12mth                 8131 non-null   float64
 41  hh_debts_12mth                     8131 non-null   float64
 42  hh_has_savings                     8134 non-null   bool
dtypes: bool(1), float64(41), int64(1)
memory usage: 2.6 MB

In [75]:
hh

,hhid,weight_hh,own_house,own_otherhouse,own_bicycles,own_vehicle,own_electronics,own_washmachinestove,own_domesticappliance,own_financialassets,...,hh_has_savings_credit_institution,hh_has_savings_batch,hh_has_savings_person_not_hhm,hh_has_savings_afores,hh_has_savings_solidarity,hh_has_savings_at_house,hh_has_savings_other,hh_has_debts_12mth,hh_debts_12mth,hh_has_savings
0,1000,1908.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
1,1003,1908.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,2000,1908.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,40000.0,False
3,3000,1908.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
4,4000,1908.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20000.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8129,10753000,1286.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,200.0,True
8130,10754000,650.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1500.0,False
8131,10757000,668.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4000.0,False
8132,10758000,668.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
8133,10759000,668.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False

In [76]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5089 entries, 0 to 5088
Data columns (total 62 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hhid                            5089 non-null   int64
 1   hhmember                        5089 non-null   int64
 2   weight_ind                      5089 non-null   int64
 3   is_hhm                          5089 non-null   float64
 4   age                             5089 non-null   float64
 5   state                           5089 non-null   float64
 6   attended_school                 5087 non-null   float64
 7   education                       5087 non-null   object
 8   gender                          5089 non-null   object
 9   income_type                     2592 non-null   float64
 10  income_undetailed               2054 non-null   float64
 11  has_income_second_job           54 non-null     float64
 12  income_second_job               45 non-null     float64
 13  has_wage                        370 non-null    object
 14  wage                            5089 non-null   float64
 15  has_piecework                   370 non-null    object
 16  piecework                       5089 non-null   float64
 17  has_tips                        370 non-null    object
 18  tips                            5089 non-null   float64
 19  has_extrahours                  370 non-null    object
 20  extrahours                      5089 non-null   float64
 21  has_christmasbonus              370 non-null    object
 22  christmasbonus                  5089 non-null   float64
 23  has_bonus                       370 non-null    object
 24  bonus                           5089 non-null   float64
 25  has_profitdist                  370 non-null    object
 26  profitdist                      5089 non-null   float64
 27  has_other                       370 non-null    object
 28  other                           5089 non-null   float64
 29  earn_main_business              1048 non-null   float64
 30  income_main_business            1048 non-null   float64
 31  earn_second_business            86 non-null     float64
 32  income_second_business          86 non-null     float64
 33  asked_for_loan_12mth            2216 non-null   float64
 34  loan_location                   620 non-null    object
 35  received_loan                   620 non-null    float64
 36  loan_size                       619 non-null    float64
 37  hh_size                         5089 non-null   int64
 38  income_main_job                 5062 non-null   float64
 39  loan                            4470 non-null   float64
 40  loan_formal                     4470 non-null   float64
 41  loan_informal                   4470 non-null   float64
 42  loan_friends_relatives          4470 non-null   float64
 43  ind_income                      5089 non-null   float64
 44  ind_savings                     5089 non-null   float64
 45  ind_debts                       5089 non-null   float64
 46  ind_has_savings                 5089 non-null   bool
 47  ind_has_debts                   5089 non-null   bool
 48  ind_has_loan                    5089 non-null   bool
 49  ind_has_loan_formal             5089 non-null   bool
 50  ind_has_loan_informal           5089 non-null   bool
 51  ind_has_loan_friends_relatives  5089 non-null   bool
 52  ind_has_savings_none            5089 non-null   bool
 53  ind_has_savings_bank            5089 non-null   bool
 54  ind_has_savings_coop            5089 non-null   bool
 55  ind_has_savings_savingsbank     5089 non-null   bool
 56  ind_has_savings_friend_not_hhm  5089 non-null   bool
 57  ind_has_savings_afores          5089 non-null   bool
 58  ind_has_savings_caja_solidaria  5089 non-null   bool
 59  ind_has_savings_house           5089 non-null   bool
 60  ind_has_savings_work            5089 non-null   bool
 61  ind_has_savings_other           5089 non-null   bool
dtypes: bool(16), float64(31), int64(4), object(11)
memory usage: 1.9+ MB

In [77]:
ind

,hhid,hhmember,weight_ind,is_hhm,age,state,attended_school,education,gender,income_type,...,ind_has_savings_none,ind_has_savings_bank,ind_has_savings_coop,ind_has_savings_savingsbank,ind_has_savings_friend_not_hhm,ind_has_savings_afores,ind_has_savings_caja_solidaria,ind_has_savings_house,ind_has_savings_work,ind_has_savings_other
0,1000,1,2244,1.0,41.0,20.0,1.0,medium,Male,8.0,...,False,False,False,False,False,False,False,False,False,False
1,3000,1,2244,1.0,45.0,20.0,0.0,low,Male,3.0,...,False,True,False,False,False,False,False,False,False,False
2,8000,1,2244,1.0,33.0,20.0,1.0,high,Male,3.0,...,True,False,False,True,False,False,False,False,False,False
3,10000,1,2074,1.0,39.0,20.0,1.0,low,Female,NaN,...,False,False,False,True,False,False,False,True,False,False
4,11000,1,2074,1.0,29.0,20.0,1.0,medium,Male,1.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,10751000,1,5539,1.0,39.0,19.0,1.0,low,Male,3.0,...,False,False,False,False,False,False,False,False,False,False
5085,10752000,1,1614,1.0,32.0,19.0,1.0,medium,Male,3.0,...,False,False,False,False,False,False,False,False,False,False
5086,10754000,1,817,1.0,43.0,19.0,1.0,low,Male,3.0,...,False,True,False,False,False,False,False,False,False,False
5087,10758000,1,839,1.0,27.0,19.0,1.0,low,Male,3.0,...,False,True,False,False,False,False,False,False,False,False
5088,10759000,1,839,1.0,25.0,19.0,1.0,medium,Male,3.0,...,False,False,False,False,False,False,False,False,False,False

In [78]:
# left merge on ind 
df = ind.merge(hh, on='hhid', how='left')

In [79]:
df.describe()

,hhid,hhmember,weight_ind,is_hhm,age,state,attended_school,income_type,income_undetailed,has_income_second_job,...,hh_has_savings_cooperative,hh_has_savings_credit_institution,hh_has_savings_batch,hh_has_savings_person_not_hhm,hh_has_savings_afores,hh_has_savings_solidarity,hh_has_savings_at_house,hh_has_savings_other,hh_has_debts_12mth,hh_debts_12mth
count,5.089000e+03,5089.000000,5089.000000,5089.0,5089.000000,5089.000000,5087.000000,2592.000000,2054.000000,54.000000,...,5064.000000,5064.000000,5064.000000,5064.000000,5064.000000,5064.000000,5064.000000,5064.000000,5063.000000,5.063000e+03
mean,5.045864e+06,1.036353,3743.411476,1.0,45.737080,18.109845,0.888736,2.986497,48856.221032,3.833333,...,0.003949,0.029226,0.001382,0.000987,0.002172,0.000592,0.015008,0.006319,0.288169,6.183788e+03
std,2.874411e+06,0.260878,3895.000354,0.0,10.685103,7.787892,0.314490,1.389786,51805.445855,1.880887,...,0.062727,0.168456,0.037157,0.031410,0.046561,0.024335,0.121596,0.079249,0.452955,3.303094e+04
min,1.000000e+03,1.000000,115.000000,1.0,20.000000,3.000000,0.000000,1.000000,24.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.591000e+06,1.000000,1490.000000,1.0,37.000000,14.000000,1.000000,3.000000,22800.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,5.098000e+06,1.000000,2377.000000,1.0,46.000000,17.000000,1.000000,3.000000,36000.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,7.526000e+06,1.000000,4887.000000,1.0,54.000000,25.000000,1.000000,3.000000,58000.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.400000e+03
max,1.075900e+07,7.000000,44252.000000,1.0,65.000000,31.000000,1.000000,8.000000,500000.000000,8.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.400000e+06

In [80]:
os.chdir(processed)
df.to_csv('data.csv', index=False)